.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.shadow-md {
    --tw-shadow: 4px 4px 6px 4px rgb(0 0 0 / 0.1), 4px 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 4px 4px 6px -1px var(--tw-shadow-color), 4px 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0,0 #0000), var(--tw-ring-shadow, 1 1 #0000), var(--tw-shadow);
}